

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Movies</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-backdrop [movies] = "resentMovie"></app-slideshow-backdrop>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Poster</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slides-show-poster [movies] = "resentMovie"></app-slides-show-poster>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Populars</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slides-show-pairs [movies] = "populars"
                          (cargarMas)="cargarMas()"></app-slides-show-pairs>

 
</ion-content>
